@font-face {
    font-family: BurgerFi;
    src: url(../font/gadugi-normal.ttf);
}

@font-face {
    font-family: BurgerFi-Bold;
    src: url(../font/gadugi-bold.ttf);
}

 :root {
    --main-color: #8BBF3F;
    --second-color: #F5F5F5;
    --lighter-color: #C9C9C9;
    --darker-color: #616161;
    --border-r: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: BurgerFi !important;
    /* background: var(--lighter-color) !important; */
}

h1,
h2,
h3,
h4 {
    padding: 0 !important;
    margin: 0 !important;
}

p {
    margin: 0 !important;
}

img {
    width: 100%;
}

a {
    text-decoration: none !important;
}

ul {
    padding: 0 !important;
    margin: 0 !important;
}

li {
    list-style: none;
}

.cta-btn {
    background-color: var(--main-color);
    padding: 5px 15px;
    border-radius: var(--border-r);
}

.fw-bold {
    font-family: BurgerFi-Bold !important;
}

.nav-link {
    color: black !important;
}

.stroke {
    color: var(--main-color) !important;
    -webkit-text-fill-color: transparent !important;
    -webkit-text-stroke-width: 1px !important;
}

.stroke-white {
    color: white !important;
    -webkit-text-fill-color: transparent !important;
    -webkit-text-stroke-width: 1px !important;
}


/* ---------------------------------NAV------------------------------- */

header {
    background-color: var(--second-color);
    height: 62px;
}

#menubtn {
    background-color: var(--main-color);
    border-radius: 8px;
    padding: 0px 10px;
}

#logo {
    width: 300px;
}

.navbar {
    background: #F5F5F5;
    z-index: 100;
}

@media screen and (max-width: 788px) {
    #logo {
        width: 200px;
    }
}


/* ---------------------------------About us hero------------------------------- */

.aboutus-hero {
    height: 45vh;
    background-image: linear-gradient(rgba(0, 0, 8, 0.7), rgba(22, 0, 0, 0.7)), url(../imgs/abourhero2.jpg);
    background-position: bottom center;
    background-repeat: repeat;
    background-size: cover;
}

.aboutus-hero div h1 span {
    color: var(--main-color);
}


/* ---------------------------------About us ------------------------------- */

.about-us {
    background-image: url(../imgs/pattern.png);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.about-us .container div {
    flex: 1;
}

.aboutus-text section h4 {
    color: var(--main-color);
}

.aboutus-text section h1 span {
    color: var(--main-color);
}

.about-us .aboutus-img img {
    width: 85%;
}

@media screen and (max-width: 788px) {
    .about-us .aboutus-text section {
        width: 100% !important;
    }
}


/* --------------------------------- Statistics ------------------------------- */

.state {
    background-image: url(../imgs/background.png);
    background-size: cover;
}

.state .stat-img {
    width: 90px;
}

.state .states p {
    color: var(--lighter-color);
}


/* --------------------------------- Why Us ------------------------------- */

.why-us {
    background-image: url(../imgs/pattern.png);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.why-us .container {
    max-width: 62%;
}

.why-us .title h1 span {
    color: var(--main-color);
}

.why-us .box:nth-of-type(1) {
    background-color: #84bb05;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px -1px 13px 0px rgba(136, 136, 136, 0.6);
}

.why-us .box:nth-of-type(2) {
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px -1px 13px 0px rgba(136, 136, 136, 0.6);
}

.why-us .box:nth-of-type(2) h2 {
    color: var(--main-color);
}

.why-us .box:nth-of-type(3) {
    background-color: #84bb05;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px -1px 13px 0px rgba(136, 136, 136, 0.6);
}

@media screen and (max-width: 788px) {
    .why-us .container {
        max-width: 100%;
    }
}


/* ---------------------------------Footer------------------------------- */

footer {
    background-image: url(../imgs/background.png);
    background-size: contain;
    background-repeat: repeat;
}

#footer-logo {
    width: 160px;
}

.footer-container .address ul li a,
.footer-container .address p {
    color: var(--lighter-color);
}

.footer-container .address div {
    flex: 1;
}

.address.d-flex.justify-content-center.my-5 {
    border-bottom: var(--lighter-color) 1px solid;
    padding: 50px 0;
    border-top: var(--lighter-color) 1px solid;
}

.footer-container .social-media ul i {
    color: white;
    background-color: var(--main-color);
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
}

.footer-container .social-media ul i:hover {
    color: var(--main-color);
    background-color: white;
}

@media screen and (max-width: 1500px) {
    footer {
        background-image: url(../imgs/background.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
}